@using Webshopping.Models;

@model ProductModel;

@{
    ViewData["title"] = "Create Product";
}

<h4>Create product</h4>
<div class="col-md-9">
    <form asp-action="Add" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Tên sản phẩm</label>
            <input asp-for="Name" class="form-control" />
            <!-- Hiển thị lỗi cho mame -->
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Giá</label>
            <input asp-for="Price" class="form-control" />
            <!-- Hiển thị lỗi cho price -->
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">

            <label>Giá vốn</label>
            <input asp-for="CapitalPrice" class="form-control" />
            <!-- Hiển thị lỗi cho capitalprice -->
            <span asp-validation-for="CapitalPrice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <!-- Hiển thị lỗi cho description -->
            @* <span asp-validation-for="Description" class="text-danger"></span> *@
        </div>

        <div class="form-group">
            <label>Danh mục</label>
            <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.Categories">
                <option>--Chọn danh mục</option>
            </select>
            <!-- Hiển thị lỗi cho category -->
            <span asp-validation-for="CategoryID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Thương hiệu</label>
            <select asp-for="BrandID" class="form-control" asp-items="ViewBag.Brands">
                <option>--Chọn Thương hiệu</option>
            </select>
            <!-- Hiển thị lỗi cho brand -->
            <span asp-validation-for="BrandID" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="ImageUpload">Hình ảnh</label>
            <input asp-for="ImageUpload" type="file" />
            <!-- Hiển thị lỗi cho Image -->
            <span asp-validation-for="ImageUpload" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Thêm mới sản phẩm</button>
        </div>
    </form>
    <a asp-action="Index"></a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description');
    </script>
}
