<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Myperfume</title>
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome (chỉ dùng 1 version, ưu tiên CDN chuẩn) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- SweetAlert2 (chỉ dùng 1 bản mới nhất, tránh trùng version) -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.19.1/dist/sweetalert2.min.css" rel="stylesheet" />

    <!-- jQuery UI (nếu dùng các widget như datepicker, slider...) -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css" />

    <!-- Morris chart (nếu bạn thực sự dùng biểu đồ) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />

    <!-- Các CSS tùy chỉnh -->
    <link href="~/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/price-range.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />

    <!-- CSS của Chatbox riêng  -->
    <link rel="stylesheet" href="~/ChatBotGemini.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/chatbox.css" asp-append-version="true" />

    <!-- Icon & favicon -->
    <link rel="shortcut icon" href="images/ico/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png" />

    <!-- HTML5 support for IE < 9 -->
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->
    <!-- CSS của Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> 0325471030</a></li>
                                <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=enternitywinner2000@gmail.com&su=Liên hệ&body=Chào bạn"
                                        target="_blank">
                                        <i class="fa fa-envelope"></i> enternitywinner2000@gmail.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a target="_blank" href="https://www.facebook.com/trinh.le.767412"><i
                                            class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://x.com/Himekafcon"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a target="_blank"
                                        href="https://www.linkedin.com/in/tr%C3%ACnh-l%C3%AA-652aa2363/"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a asp-action="index" asp-controller="Home"><img src="~/img/logo.png" alt="" width="100"
                                    height="100" /></a>
                        </div>
                        <div class="btn-group pull-right">

                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">

                                <li>
                                    <a asp-controller="cart" asp-action="Index">
                                        <i class="fa fa-shopping-cart"></i>
                                        Giỏ hàng
                                    </a>
                                </li>
                                @if ((User.Identity?.IsAuthenticated ?? false) && !User.IsInRole("Admin"))
                                {

                                    <li>
                                        <a asp-action="Wishlist" asp-controller="Home">
                                            <i class="fa fa-heart"></i>Yêu thích
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Compare" asp-controller="Home">
                                            <i class="fa fa-star"></i>
                                            So sánh
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="Cart">
                                            <i class="fa fa-crosshairs"></i>
                                            Thanh toán
                                        </a>
                                    </li>

                                    <li class="nav-dropdown">
                                        <a class="nav-link">
                                            Hi, @User.Identity.Name <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Account" asp-action="History">
                                                    <i class="fa fa-history"></i> Lịch sử đơn hàng
                                                </a>
                                            </li>
                                            <li>
                                                @* Ẩn mục admin nếu không phải admin *@
                                                @if (User.IsInRole("Admin")|| User.IsInRole("employee"))
                                                
                                                {
                                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard"
                                                        asp-action="Index">
                                                        <i class="fa fa-lock"></i> Chuyển qua trang admin
                                                    </a>
                                                }
                                            </li>
                                            <li>
                                                <form asp-controller="Account" asp-action="Logout" method="post"
                                                    class="form-inline">
                                                    <button type="submit" class="btn btn-link">
                                                        Đăng xuất
                                                    </button>
                                                </form>
                                            </li>

                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i>Login</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a asp-action="index" asp-controller="Home">Trang chủ</a></li>
                                <li><a asp-controller="Home" asp-action="index">Cửa hàng</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--/header-bottom-->
    </header>

    <!--/header-->

    <section>
        <div class="container">
            <div class="row">
                @Html.Partial("_NotificationPartial")
                @RenderBody()
            </div>
        </div>
    </section>

    <footer id="footer" class="border-top footer text-muted">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <!-- Cột logo -->
                    <div class="col-sm-3">
                        <div class="companyinfo">
                            <h2><span>My</span>perfume</h2>
                            <p>Chúng tôi cung cấp các sản phẩm nước hoa chất lượng cao với giá cả phải chăng.</p>
                        </div>
                    </div>
                    <!-- Thông tin nhóm -->
                    <div class="col-sm-3">
                        <div class="companyinfo">
                            <p>Đề tài khóa luận tốt nghiệp nhóm 56.</p>
                            <p>GVHD: Nguyễn Trung Thuận</p>
                            <p>Leader: Lê Lâm Trình</p>
                            <p>Thành viên:</p>
                            <ul class="team-members">
                                <li>Huỳnh Quang Trung</li>
                                <li>Nguyễn Hữu Thống</li>
                                <li>Nguyễn Đinh Kim Trọng</li>
                                <li>Dương Trí Dũng</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Cột bản đồ -->
                    <div class="col-sm-5">
                        <div class="address">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.0947314122573!2d108.1904398749027!3d16.008583384662117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421a32f4cb540f%3A0x703f6c3e95638e58!2zMjMgVHLhu6sgVsSDbiBUaOG7kSwgSMOyYSBUaOG7jSDEkMO0bmcsIEPhuqltIEzhu4csIMSQw6AgTuG6tW5nIDU1MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1747366675344!5m2!1svi!2s"
                                width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2025 Myperfume </p>
                    <p class="pull-right">
                        Designed by <span>
                            <a target="_blank" href="https://www.facebook.com/trinh.le.767412">Trinhleeneeee</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Compare Modal -->
        <div class="modal fade" id="compareModal" tabindex="-1" role="dialog" aria-labelledby="compareModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="compareModalContent">
                    <!-- Nội dung AJAX sẽ được load tại đây -->
                </div>
            </div>
        </div>

    </footer>
    <!-- Chatbox Container -->
    <div id="gemini-chatbox">
        <div id="chatbox-header">
            <span>Perfume Bot</span>
            <button id="chatbox-close-btn">×</button>
        </div>
        <div id="chatbox-messages">
            <!-- Tin nhắn sẽ được thêm vào đây bằng JavaScript -->
            <div class="message bot-message">Welcome to Myperfume! Tôi có thể giúp gì cho bạn?</div>
        </div>
        <div id="chatbox-input-area">
            <input type="text" id="chatbox-input" placeholder="Nhập câu hỏi của bạn...">
            <button id="chatbox-voice-btn">giọng nói</button> <!-- Nút thu âm -->
            <button id="chatbox-send-btn">Gửi</button>
        </div>

    </div>
    <img id="chatbox-toggle-img" src="~/img/moiii.png" alt="Chat"
        style="position: fixed; bottom: 20px; right: 20px; width: 100px; height: 100px; cursor: pointer; z-index: 999;">
    <!-- Nút để mở/đóng chatbox -->
    <script src="~/js/jquery.js"></script>
    <!-- jQuery (nền tảng cho các plugin khác, nên đặt đầu tiên) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- jQuery UI (nếu bạn cần hiệu ứng kéo/thả, datepicker, v.v) -->
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

    <!-- Bootstrap JS (cần jQuery trước) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- Các plugin phụ thuộc jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Các plugin tùy chỉnh (nên để sau các thư viện gốc) -->
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/price-range.js"></script>

    <!-- Các script nội bộ (đặt cuối cùng) -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/chatbox.js" asp-append-version="true"></script>

    <!-- Script xử lý sự kiện -->
    <script>
        $(document).ready(function () {
            $('#sort_by').on('change', function () {
                var url = $(this).val();
                if (url) {
                    window.location = url;
                }
                return false;
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>